In [125]:
#decision
#test_value>critical value
#reject null hypothesis
#accept alternate hypothesis

In [13]:
#On average if we collect data of 100 participants whethe they have lost sihnificant amount of weight

# Create Dataset

In [15]:
import random

In [17]:
#generate data
random.seed(42) #Generate same random number for everyone

In [19]:
weight_loss_data=[random.uniform(0.5,10) for _ in range (100)]
weight_loss_data

[6.574554585349896,
 0.7376021746153358,
 3.112778524506633,
 2.6205020124138163,
 7.496476534558118,
 6.9286451305176575,
 8.975705893196032,
 1.3259189099794535,
 4.5082572870100694,
 0.7830735846616683,
 2.577060760634232,
 5.300875236981943,
 0.7520917119967044,
 2.3889576815231606,
 6.67390215890547,
 5.6769440657305585,
 2.594185909386619,
 6.098023996821133,
 8.189589338439353,
 0.5617382169415797,
 8.155282892411675,
 7.132324252388155,
 3.7323799069209227,
 1.9770552482119248,
 9.593524185964421,
 3.6976481785699544,
 1.3810855121114052,
 1.4188055799179082,
 8.551196480300868,
 6.2353972979854655,
 8.167718596106612,
 7.43245197359127,
 5.594166868819657,
 9.744599757804021,
 4.096076583479358,
 5.744385997095656,
 8.37934431040345,
 6.375937647460337,
 8.686215552952383,
 5.984845379939239,
 7.193432444041773,
 0.935331644728791,
 2.6650336186896952,
 3.249185654220018,
 1.2580237807744612,
 2.7115134204297866,
 1.4595135793924265,
 3.140749229545875,
 6.539002220511802,
 3.9659057002158002,
 4.016719187610385,
 2.490316792329133,
 3.036289309466577,
 9.398218583268694,
 6.656336159842638,
 6.286744553836388,
 2.1258171578819214,
 7.426704580528317,
 2.0523236907383198,
 4.104826696697653,
 9.900471831047655,
 6.579997718613882,
 5.791022565859139,
 7.003835384403809,
 8.507093241803192,
 7.8719991596893255,
 2.6759566836589914,
 0.8049523170883588,
 3.496803956561278,
 3.043538321769176,
 2.5043370140701016,
 9.457642286183017,
 8.825492451490355,
 3.4894398675855403,
 6.7266673203013605,
 4.25850306007631,
 9.188202102535163,
 4.859092599580289,
 3.0163615817314984,
 2.842961323092843,
 5.832997274549933,
 2.996045280967885,
 6.053566907123635,
 9.029317394223531,
 4.294304798833775,
 2.583547211994192,
 9.976607261703547,
 5.340499789926413,
 1.363639415651042,
 0.9476055665349784,
 1.5416667383312619,
 6.460737396179355,
 8.024753961448159,
 4.510519684596998,
 1.1035132084435928,
 4.125383221812099,
 9.963153112280919,
 5.526586278441802,
 9.725244587329373,
 8.677407171227731]

In [25]:
#calculate the mean:
import numpy as np
sample_mean=np.mean(weight_loss_data)
sample_mean

5.05590780970096

In [27]:
sample_std=np.std(weight_loss_data,ddof=1) #ddof= Degree of freedom =1 so sample dataset= 100-1=90 
sample_std

2.7884894835856673

# z test

In [32]:
# if you dont have population mean then take it zero
population_mean=0
z_score=(sample_mean - population_mean)/(sample_std/np.sqrt(len(weight_loss_data)))

In [34]:
z_score

18.131349748537197

In [38]:
print("Mean:",sample_mean)
print("Standard Deviation",sample_std)
print("Z score",z_score)

Mean: 5.05590780970096
Standard Deviation 2.7884894835856673
Z score 18.131349748537197

In [42]:
# calculate the critical value
from scipy.stats import norm
degree_freedom=len(weight_loss_data)-1
degree_freedom

99

In [46]:
alpha=0.05
critical_value=norm.ppf(1-alpha) # percentage point function
critical_value

1.6448536269514722

In [50]:
# If z_score>critical value=Reject
# If z_score<critical value=Accept

reject_null=z_score>critical_value
reject_null

True

In [52]:
print("Rejecting Null hypothesis")

Rejecting Null hypothesis

# Chi Square test

In [85]:
import pandas as pd
import random
from scipy.stats import chi2_contingency   # chi2_contingency table

#generate data
random.seed(42)
gender=random.choices(['Male','Female'], k=200) # choices help to generate from given choice
gender

['Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female']

In [87]:
#generate voting preferences
voting_prefernces = random.choices(['Candidate A', 'Candidate B','Nota'],k=200)
voting_prefernces

['Nota',
 'Nota',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Candidate A',
 'Candidate B',
 'Candidate A',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Nota',
 'Candidate B',
 'Candidate B',
 'Nota',
 'Nota',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Candidate B',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Candidate B',
 'Candidate B',
 'Candidate B',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Nota',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Nota',
 'Nota',
 'Candidate B',
 'Candidate A',
 'Nota',
 'Nota',
 'Candidate B',
 'Nota',
 'Candidate B',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Candidate A',
 'Candidate B',
 'Candidate A',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Candidate A',
 'Candidate B',
 'Nota',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Candidate B',
 'Candidate A',
 'Nota',
 'Candidate B',
 'Candidate B',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Nota',
 'Candidate B',
 'Nota',
 'Candidate B',
 'Candidate A',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Nota',
 'Nota',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Nota',
 'Candidate B',
 'Candidate B',
 'Candidate A',
 'Nota',
 'Nota',
 'Nota',
 'Nota',
 'Nota',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Nota',
 'Nota',
 'Nota',
 'Nota',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Nota',
 'Nota',
 'Candidate A',
 'Nota',
 'Candidate B',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Candidate B',
 'Nota',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Candidate B',
 'Nota',
 'Candidate A',
 'Candidate B',
 'Candidate B',
 'Candidate B',
 'Candidate B',
 'Candidate A',
 'Nota',
 'Candidate A',
 'Nota',
 'Candidate B',
 'Nota',
 'Nota',
 'Nota',
 'Candidate B',
 'Candidate A',
 'Candidate B',
 'Candidate A',
 'Candidate A',
 'Nota',
 'Nota',
 'Candidate A',
 'Candidate A',
 'Candidate B',
 'Candidate B',
 'Candidate A',
 'Candidate A',
 'Candidate B',
 'Nota',
 'Nota',
 'Nota',
 'Candidate B',
 'Candidate A',
 'Candidate B',
 'Candidate A',
 'Candidate A',
 'Candidate B',
 'Candidate B',
 'Candidate B',
 'Candidate B']

In [89]:
#Create dataframe
data={
    'Gender':gender,
    'Voting prefernces':voting_prefernces,
}

In [91]:
df=pd.DataFrame(data)
df.head()

   Gender Voting prefernces
0  Female              Nota
1    Male              Nota
2    Male              Nota
3    Male       Candidate A
4  Female       Candidate B

In [93]:
# create a contingency table
#Observed frequency Table
contingency_table=pd.crosstab(df['Gender'], df['Voting prefernces']) # name of the columns 
contingency_table

Voting prefernces  Candidate A  Candidate B  Nota
Gender
Female                      31           26    40
Male                        40           29    34

In [121]:
# calculate the chi square
#pass the table to chi2_contingency function
chi2_value,p,dof,expected=chi2_contingency(contingency_table)
chi2_value,p,dof,expected

(1.6124190977333461,
 0.4465474787793734,
 2,
 array([[34.435, 26.675, 35.89 ],
        [36.565, 28.325, 38.11 ]]))

In [105]:
#critical Value
alpha=0.05
from scipy.stats import chi2
critical_value=chi2.ppf(1-alpha,dof)
critical_value

5.991464547107979

In [103]:
#decision
#chi>critical-reject
#chi<critical-accept

In [123]:
reject_null=chi2_value > critical_value
print("Null Hypothesis: ",reject_null)

Null Hypothesis:  False

# One way Anova

In [128]:
from scipy.stats import stats
import numpy as np

In [140]:
#prepare the data
school1=np.array([85,88,90,92,86])
school2=np.array([78,82,80,85,88])
school3=np.array([92,94,89,88,90])

In [142]:
#Perform 1 way anova
f_statistics,p_value= stats.f_oneway(school1,school2,school3)
print("One way anova stats: ",f_statistics)

One way anova stats:  8.483221476510069

C:\Users\Varsha Arun\AppData\Local\Temp\ipykernel_17868\2355695932.py:2: DeprecationWarning: Please import `f_oneway` from the `scipy.stats` namespace; the `scipy.stats.stats` namespace is deprecated and will be removed in SciPy 2.0.0.
  f_statistics,p_value= stats.f_oneway(school1,school2,school3)

In [144]:
print("P value: ",p_value)

P value:  0.00505494541965152

In [146]:
alpha=0.05
if p_value<alpha:
    print("Reject null Hypothesis. Significant difference between test scores")
else: 
    print("Accept null Hypothesis. No significant difference between test scores")

Reject null Hypothesis. Significant difference between test scores

# Two way anova

In [150]:
#One way anova- 1 independent categorical and 1  dependent continious- Better
#Two way anova- 2 independent categorical and 1  dependent continious

In [168]:
import statsmodels.api as sm
from statsmodels.formula.api import ols #Ordinary least square
import numpy as np

In [174]:
#Create data
data_dict={
    'school': np.repeat(['school1','school2'],10),
    'subject': np.repeat(['math','stats'],10),
    'score':[12,16,15,15,10,17,15,13,19,11,12,16,15,15,10,17,15,13,19,11]
}
df=pd.DataFrame(data_dict)
df

     school subject  score
0   school1    math     12
1   school1    math     16
2   school1    math     15
3   school1    math     15
4   school1    math     10
5   school1    math     17
6   school1    math     15
7   school1    math     13
8   school1    math     19
9   school1    math     11
10  school2   stats     12
11  school2   stats     16
12  school2   stats     15
13  school2   stats     15
14  school2   stats     10
15  school2   stats     17
16  school2   stats     15
17  school2   stats     13
18  school2   stats     19
19  school2   stats     11

In [176]:
model=ols('score ~C(school)+ C(subject) + C(school):C(subject)',data=df).fit()

In [178]:
result=sm.stats.anova_lm(model,type=2)
print(result)

                        df        sum_sq       mean_sq             F    PR(>F)
C(school)              1.0  9.321501e-30  9.321501e-30  1.196769e-30  1.000000
C(subject)             1.0  6.559572e-01  6.559572e-01  8.421705e-02  0.774979
C(school):C(subject)   1.0  4.703989e-01  4.703989e-01  6.039358e-02  0.808655
Residual              18.0  1.402000e+02  7.788889e+00           NaN       NaN

In [ ]:
model.fit()